app/ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/mpatel.xcuserdatad/UserInterfaceState.xcuserstate
app/ios/App/App.xcodeproj/xcuserdata/mpatel.xcuserdatad/xcschemes/xcschememanagement.plist
app/ios/App/CapApp-SPM/.swiftpm/xcode/xcuserdata/mpatel.xcuserdatad/xcschemes/xcschememanagement.plist
